/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding-top: 56px;
}

.container-fluid {
  height: 100%;
}


/* Forms Container */

.form-container {
  padding-top: 15px;
  max-width: 900px;
  margin: 0 auto;
}

.form-container .ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.form-container .ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}